name: Create terraform plan

on:
  workflow_call:
    inputs:
      terraform_root_directory:
        default: 'terraform/environments'
        description: 'Terraform root directory'
        required: false
        type: string
      exclude_environment:
        default: "\n"
        description: 'Exclude any environment from list'
        required: false
        type: string
      terraform_target:
        default: ''
        description: 'value for the terraform -target parameter, comma separate'
        required: false
        type: string
      aws_role:
        description: 'Role to run terraform plan'
        required: true
        type: string
      runner:
        default: "ubuntu-latest"
        description: 'Runner used to run all commands'
        required: false
        type: string
      git_branch:
        default: ""
        description: 'custom branch for checkout'
        required: false
        type: string
      git_base:
        default: ""
        description: 'Branch, tag, or commit SHA against which the changes will be detected.'
        required: false
        type: string
    outputs:
      filename:
        value: ${{ jobs.plan.outputs.filename }}
        description: "terraform plan output name stored in artifacts storage"

jobs:
  find_environments:
    permissions: write-all
    outputs:
      files_changed_boolean: ${{ steps.unique_directory_array.outputs.files_changed_boolean }}
      unique_directory_matrix: ${{ steps.unique_directory_array.outputs.unique_directory_matrix }}
    runs-on: ubuntu-latest
    name: Find all environments
    steps:
      - name: Find all unique environments
        uses: pepsico-ecommerce/ops-gh-actions-comp-find-subdir@v1.0.2
        id: unique_directory_array
        with:
          filter_directory: ${{ inputs.terraform_root_directory }}
          exclude_subdirectory: ${{ inputs.exclude_environment }}
          git_branch: ${{ inputs.git_branch }}
          git_base: ${{ inputs.git_base }}
      - run: echo ${{ steps.unique_directory_array.outputs.unique_directory_matrix }}

  plan:
    permissions: write-all
    strategy:
      matrix:
        environment: ${{ fromJSON(needs.find_environments.outputs.unique_directory_matrix) }}
    outputs:
      filename: ${{ steps.tf_plan_filename.outputs.filename }}
    if: ${{ needs.find_environments.outputs.unique_directory_matrix != '[]' }}
    runs-on: ${{ inputs.runner }}
    needs: find_environments
    name: Create a tf plan for 
    env:
      TERRAFORM_PRE_RUN: |
                         export TERRAFORM_VERSION=$(cat ${{ matrix.environment }}/.terraform-version)
                         [[ -f "./${{ matrix.environment }}/.envrc" ]] && source ./${{ matrix.environment }}/.envrc || true
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TERRAFORM_SSH_KEY: ${{ secrets.GH_USER_PEPECOMMOPS_SSH_KEY_PRIVATE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.git_branch }}
      - name: AWS log in
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ inputs.aws_role }}
          aws-region: us-east-1
      - name: terraform plan
        uses: pepsico-ecommerce/ops-gh-actions-ext-terraform-github-actions/terraform-plan@v1.26.0
        id: tf_plan
        with:
          path: ./${{ matrix.environment }}
          target: ${{ inputs.terraform_target }}

      - name: generate filename for plan
        id: tf_plan_filename
        run: |
          FILENAME=${{ matrix.environment }}
          FILENAME=${FILENAME//\//_}-${{ github.sha }}
          echo "::set-output name=filename::${FILENAME}"

      - name: Upload terraform plan
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.tf_plan_filename.outputs.filename }}
          path: ${{ steps.tf_plan.outputs.json_plan_path }}
