name: Terraform apply

on:
  workflow_call:
    inputs:
      terraform_root_directory:
        default: 'terraform/environments'
        description: 'Terraform root directory'
        required: false
        type: string

jobs:
  find_environments:
    outputs:
      files_changed_boolean: ${{ steps.unique_directory_array.outputs.files_changed_boolean }}
      unique_directory_matrix: ${{ steps.unique_directory_array.outputs.unique_directory_matrix }}
    runs-on: ubuntu-latest
    name: Find all environments
    steps:
      - name: Find all unique environments
        uses: pepsico-ecommerce/docker_composite_poc@main
        id: unique_directory_array
        with:
          filter_directory: ${{ inputs.terraform_root_directory }}
  plan:
    strategy:
      matrix:
        environment: ${{ fromJSON(needs.find_environments.outputs.unique_directory_matrix) }}
    if: ${{ needs.find_environments.outputs.files_changed_boolean }} == true
    runs-on: ubuntu-latest
    needs: find_environments
    name: Create a plan for an example terraform configuration
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      GITHUB_TOKEN : ${{ secrets.GITHUB_TOKEN }}
      TERRAFORM_SSH_KEY: ${{ secrets.GH_USER_PEPECOMMOPS_SSH_KEY_PRIVATE }}
      TERRAFORM_VERSION: "0.13"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: terraform apply
        uses: dflook/terraform-apply@v1
        with:
          path: ./${{ matrix.environment }} 
