name: Terraform Snyk

on:
  workflow_call:
    inputs:
      terraform_root_directory:
        default: 'terraform/environments'
        description: 'Terraform root directory'
        required: false
        type: string
      exclude_environment:
        default: "\n"
        description: 'Exclude any environment from list'
        required: false
        type: string
      runner:
        default: "ubuntu-latest"
        description: 'Runner used to run all commands'
        required: false
        type: string
      git_branch:
        default: ""
        description: 'custom branch for checkout'
        required: false
        type: string
      git_base:
        default: ""
        description: 'Branch, tag, or commit SHA against which the changes will be detected.'
        required: false
        type: string
      continue_on_error:
        type: boolean
        default: false
        required: false
        description: 'if workflow should complete on error'
    secrets:
      snyk_token:
        description: 'Snyk token for running scan'
        required: true

jobs:
  find_environments:
    permissions: write-all
    outputs:
      files_changed_boolean: ${{ steps.unique_directory_array.outputs.files_changed_boolean }}
      unique_directory_matrix: ${{ steps.unique_directory_array.outputs.unique_directory_matrix }}
    runs-on: ubuntu-latest
    name: Find all environments
    steps:
      - name: Find all unique environments
        uses: pepsico-ecommerce/ops-gh-actions-comp-find-subdir@v1.0.2
        id: unique_directory_array
        with:
          filter_directory: ${{ inputs.terraform_root_directory }}
          exclude_subdirectory: ${{ inputs.exclude_environment }}
          git_branch: ${{ inputs.git_branch }}
          git_base: ${{ inputs.git_base }}
      - run: echo ${{ steps.unique_directory_array.outputs.unique_directory_matrix }}

  sec:
    permissions: write-all
    strategy:
      matrix:
        environment: ${{ fromJSON(needs.find_environments.outputs.unique_directory_matrix) }}
    if: ${{ needs.find_environments.outputs.unique_directory_matrix != '[]' }}
    runs-on: ${{ inputs.runner }}
    needs: find_environments
    name: IAC scan
    env:
      SNYK_TOKEN: ${{ secrets.snyk_token }}
      SNYK_CFG_ORG: digital-technology-and-experience-dtx
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.git_branch }}

      - name: Run Snyk to check configuration files for security issues
        # Snyk can be used to break the build when it detects security issues.
        # In this case we want to upload the issues to GitHub Code Scanning
        continue-on-error: ${{ inputs.continue_on_error }}
        uses: snyk/actions/iac@master
        with:
          file: ./${{ matrix.environment }}
          args: --severity-threshold=high

      # - name: Upload result to GitHub Code Scanning
      #   uses: github/codeql-action/upload-sarif@v1
      #   with:
      #     sarif_file: snyk.sarif

      - name: Download terraform plan
        uses: actions/download-artifact@v3
        with:
          name: "${{ matrix.environment }}-${{ github.sha }}"
